/*
!/.gitignore
!/.gitattributes
!/.gitmodules
!/AGENTS.md
!/README.md
!/LICENSE
!/SECURITY.md
!/CHANGELOG.md
!/src/
!/tests/
!/tools/
!/docs/
!/ci/
!/submodules/
**/bin/
**/obj/
**/.env*
**/*.key
**/*.pem
**/*.pfx
**/*.log
**/__pycache__/
**/*.pyc
